<div class="container mt-4">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">User</th>
          <th scope="col" class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" (click)="viewUser(user.id)" style="cursor: pointer;">
          <td class="align-middle">
            <img [src]="user.avatar" alt="{{ user.first_name }}" class="rounded-circle mr-2">
            <span class="ml-10">{{ user.first_name }} {{ user.last_name }}</span>
          </td>
          <td class="text-right">
            <button (click)="editUser(user.id); $event.stopPropagation();" class="btn btn-outline-secondary btn-sm mr-1">
              <i class="bi bi-pencil"></i>
            </button>
            <button (click)="deleteUser(user.id); $event.stopPropagation();" class="btn btn-outline-danger btn-sm">
              <i class="bi bi-trash"></i>
            </button>
           
          </td>
          <td class="text-right arrow-cell">
            <i class="bi bi-arrow-right-circle"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  